<%- include('partials/_head.ejs'); -%>

    <div class="d-flex justify-content-center align-items-center">
        <div>
            <h2 class="text-success">
                Server Version: <%= version %>
            </h2>
            <h2 class="text-primary">
                Server Hostname: <%= hostname %>
            </h2>
        </div>
    </div>
    <table class="table table-hover">
        <tbody>
            <% info.forEach(function(resource){ %>
                <tr class="table-success">
                    <th scope="row">
                        <%= resource.name %>
                    </th>
                    <td>
                        <%= resource.value %>
                    </td>
                </tr>
            <% })%>
        </tbody>
    </table>
    <%- include('partials/_footer.ejs'); -%>